[Unit]
Description=webApp
After=cloud-final.service

[Service]
# Environment=DB_PORT=5432
# Environment=APP_PORT=8080
# Environment=DB_HOST=localhost
# Environment=DB_USER=postgres
# Environment=DB_PASSWORD=1234567890
# Environment=DB_POSTGRESQL=postgres
# Environment=DB_DIALECT=postgres

# WorkingDirectory=/home/admin/webApp
# ExecStart=/usr/bin/node /home/admin/webApp/server.js
WorkingDirectory=/home/admin/webApp
ExecStart=/usr/bin/node /home/admin/webApp/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webApp
User=admin

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target