[Unit]
Description=webApp
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/webApp
ExecStart=/usr/bin/node /opt/webApp/server.js
Restart=always
RestartSec=10
SyslogIdentifier=webApp
User=csye6225
Group=csye6225

[Install]
WantedBy=cloud-init.target